<aside class="loader-container fade @(Loading ? "show" : "hidden")">
    <div class="loader flex-fill flex-center">
        <i class="loader-icon las la-book"></i>
        <div class="loader-border"></div>
    </div>
</aside>

@code {
    [Parameter]
    public bool Loading { get; set; } = false;
}