@page "/"
@using Microsoft.AspNetCore.Authorization
@using TheArchives.Shared
@using Microsoft.AspNetCore.WebUtilities
@attribute [Authorize]
@inject NavigationManager navManager

<header class="header-top">
    <span class="header-auth">
        <NavMenu />
    </span>
</header>

<main class="main">
    <div class="hero row">
        <h1><i class="la la-book"></i> The Archives</h1>
    </div>

    <SearchInput Value=@searchValue ValueChanged="HandleSearchInput" OnSubmitCallback="HandleSubmit" />
</main>

@code {
    private string searchValue { get; set; } = string.Empty;

    private void HandleSearchInput(string value)
    {
        searchValue = value;
    }

    private void HandleSubmit()
    {
        navManager.NavigateTo(QueryHelpers.AddQueryString("/search", nameof(SearchRequest.Search), searchValue));
    }
}