.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 8px;
}

.header-top {
  display: flex;
  flex-direction: row;
  padding: 0 4px;
}

.header-auth {
  margin-left: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 90px;
  max-height: 290px;
  height: calc(100% - 560px);
}

.Hero h1 {
  margin-bottom: 0;
}

.search {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
}

.search-wrapper {
  margin-right: 0;
  position: relative;
  flex: 1 1 auto;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  padding: 0 4px;
  height: 38px;
  font-size: 24px;
  color: #888;
}

.search-clear {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding: 0 4px;
  height: 38px;
  font-size: 24px;
}

.search-clear:hover,
.search-clear:focus {
  color: var(--primary-color);
}

.search-input {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.search-button {
  display: none;
}

@media (min-width: 750px) {
  .search {
    padding: 20px;
    width: 690px;
  }

  .search-wrapper {
    margin-right: 1rem;
    position: relative;
    flex: 1 1 auto;
  }

  .search-button {
    display: inline;
  }
}
