.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px 20px 10px;
  position: relative;
}

::deep aside {
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.results {
  width: 100%;
}

.results-items-list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 2rem;
}

.item-title {
  margin-bottom: 0;
  text-transform: capitalize;
}

.item-description {
  margin-bottom: 0;
}

.item-subheader {
  color: #888;
}

.tag:not(:first-child) {
  margin-left: 6px;
}

.tag:not(:last-child) {
  margin-right: 6px;
}

.pager {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.page {
  font-size: 18px;
}

.page:not(:first-child) {
  margin-left: 10px;
}

.page:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 932px) {
  .header,
  .main {
    padding-left: 160px;
    padding-right: 10px;
  }

  .results {
    width: 705px;
  }

  ::deep aside {
    top: 0;
    left: 460px;
  }
}
