.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 10px 20px 10px;
  position: relative;
}

::deep aside {
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header-bottom,
.header-top {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.header-top .nav-logo {
  font-size: 24px;
  margin: auto;
}

.header-bottom .nav-logo,
.header-bottom .header-auth {
  display: none;
}

.nav-link {
  font-size: 18px;
  color: #222;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-color);
  text-decoration: none;
}

.title-wrapper {
  display: inline-block;
}

.title {
  font-size: 38px;
}

.results {
  width: 100%;
}

.results-items-list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 2rem;
}

.item-title {
  margin-bottom: 0;
  text-transform: capitalize;
}

.item-description {
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.item-subheader {
  color: #888;
}

.tag:not(:first-child) {
  margin-left: 6px;
}

.tag:not(:last-child) {
  margin-right: 6px;
}

.pager {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.page {
  font-size: 18px;
}

.page:not(:first-child) {
  margin-left: 10px;
}

.page:not(:last-child) {
  margin-right: 10px;
}

.search-stats {
  color: #888;
}

@media (min-width: 932px) {
  .main {
    padding-left: 160px;
    padding-right: 10px;
  }

  .header-top {
    display: none;
  }

  .header-bottom {
    display: flex;
  }

  .header-bottom .nav-logo,
  .header-bottom .header-auth {
    display: inline-block;
  }

  .header-bottom .header-auth {
    margin-left: auto;
  }

  .results {
    width: 705px;
  }

  ::deep aside {
    top: 0;
    left: 460px;
  }
}
