.reader {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.reader-hidden {
  visibility: hidden;
  opacity: 0;
  right: 0;
  box-sizing: border-box;
}

.reader p:first-child {
  margin-top: 0;
}

.pager {
  transition: transform 0.1s ease;
  box-sizing: border-box;
  width: 100%;
  column-gap: 2rem;
  user-select: none;
  cursor: default;
  bottom: 0;
}

.pager p {
  user-select: none;
  cursor: default;
}

.progress {
  height: 2px;
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.reader-hidden,
.pager {
  position: fixed;
  padding: 1rem 1rem 2.5rem 1rem;
  top: 0;
  left: 0;
}

::deep aside {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
